@CHARSET "UTF-8";


ul {
	list-style-type: circle;
}
ul li span {
	color: red;
}
ul.success_messaeg li span {
	color: #0000ff;
}
div.topmenu {

	width: 100%;
    padding: 5px;
    position: fixed;
    background-color: #ffffff;
    padding-bottom: 0px;
    padding-right: 0px;
    top:0;
    left:0;
}
div.menu {
	float: left;
}
div.user_name {
	text-align:right;
	margin-right: 25px;
}
h2 {
	margin-top: 60px;
}
div.comment {
	font-weight: bold;
}
div.messages {
	margin-top : 100%;
	margin-top : 2%;
}
div.messages div.message_id {

}
table.messages {
	margin-top: 5%;
	margin-right : auto;
	margin-left : auto;
	width: 55%;
	border: 1px solid #808080;
	table-layout: fixed;
}
table.messages td.category_text pre {

	word-wrap: break-word;
	white-space: pre-wrap;
}
table.messages td.message_text {

	height: 100px;
	font-size: large;
}
table.messages td.message_text pre {

	word-wrap: break-word;
	white-space: pre-wrap;
}
table.messages td.comment_text {
	font-size: large;
}
table.messages td.comment_text pre {

	word-wrap: break-word;
	white-space: pre-wrap;
}
table.messages td.input_comment textarea {

	width: 180%;
}
table.messages td.delete {
	float: right;
	border: 1px solid #004040;
}
table.comments {

	margin-top: 5%;
	margin-right : auto;
	margin-left : auto;
	width: 90%;
	border: 1px solid #808080;
	table-layout: fixed;
}
a.delete{
	text-decoration: none;
}
table.message_select {
	margin-top : 2%;
	margin-right : auto;
	margin-left : auto;
	border: 1px solid #808080;
}
table.login {
	margin-top : 5%;
	margin-right : auto;
	margin-left : auto;
	width: 35%;
	height: 200px;
	border: 3px solid #c0c0c0;
	border-collapse: collapse;
}
table.login td.title{
	font-size: x-large;
	text-align: center;
	font-weight: 800;
	border: 3px solid #c0c0c0;
}
div.main {
	width: 50%;
    margin: 0 auto;
    margin-top : 2%;
}
table.control {
	width: 80%;
	border: 1px solid #c0c0c0;
	border-collapse: collapse;
}
table.control th {
	height: 50px;
	border: 1px solid #c0c0c0;
}
table.control td {
	height: 40px;
	padding-left: 4%;
	border: 1px solid #c0c0c0;
}
table.setting {
	width: 80%;
	height: 200px;
	margin-right : auto;
	margin-left : auto;
	border: 1px solid #c0c0c0;
	border-collapse: collapse;
}
table.setting th {
	border: 1px solid #c0c0c0;
}
table.setting td {
	padding-left: 10%;
	border: 1px solid #c0c0c0;
}
div.submit {
	margin-top : 5%;
}
table.message {
	border: 1px solid #c0c0c0;
	width: 100%;
}
table.message th {
	vertical-align: top;
}
table.signup {
	width: 80%;
	height: 200px;
	margin-right : auto;
	margin-left : auto;
	border: 1px solid #c0c0c0;
	border-collapse: collapse;
}
table.signup th {
	border: 1px solid #c0c0c0;
}
table.signup td {
	padding-left: 10%;
	border: 1px solid #c0c0c0;
}
div.submit {
	text-align: center;
}